*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 20px;
  
  }
  
  ::-webkit-scrollbar-track{
  background: #2E7A90;
  }
  
  ::-webkit-scrollbar-thumb{
  
  border-radius: 20px;
  background-color: #eb3700;
  
  }



  .card1 {

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }










  .icon img{
      width: 90%;
      border-radius: 10px;

  }

body {
    background-image: url("Accommodations\ \(1\).png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
  
    z-index: -4;
    font-family: 'Lato', sans-serif;
}


  /* header */
  .card {
    margin-top: 0px;
    width: 100%;
    border-radius: 5px;
    color: #ff568e;
    display: flex;
    gap: 5px;
     
  }
  
  .card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    /* background: rgba(255,82,95, 0.5); */
    /* border: 1px solid #960028; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .card p:hover {
    flex: 4;
    background: rgb(255,82,95);
background: radial-gradient(circle, rgba(230, 231, 233, 0.9) 0%, rgba(216, 208, 208, 0) 50%);

  }
  
  .card p span {
    min-width: 14em;
    padding: 3em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ce2661;
    font-weight: bold;
    letter-spacing: .1em;
  }
   
  .card p:hover span {
    transform: rotate(0);
    color: #f80000;
    font-weight: 700;
  }

  .card p:hover a{
    color: #ff0000;
    text-decoration: none;
  }

  .card a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: bolder;
  }

 /* ------------------////header */



main{
  margin-top: 150px;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:  'Poppins', sans-serif;
}


form p{
        font-size: 40px;
        font-family:  Arial, Helvetica, sans-serif;
        margin-top: 200px;
        box-shadow: rgba(0, 0, 0, 0.178) 0px -23px 25px 0px inset,      rgba(0, 0, 0, 0.5) 20px 32px 16px;
        margin-bottom: 150px;
        color: azure;
        padding-right: 750px;
        padding-left: 750px;
        border-radius: 20px;
    }



#hero label{
    font-size: 25px;
    color: azure;
}

#hero  input[type="email"]{
    width: 270px;
    height: 40px;
    text-align: start;
    padding: 10px;
}

#hero  input[type="submit"]{
    padding: 8px;
    margin: 10px;
    background-color: #43474B;
    border: 0;
    color: azure;
    width: 120px;
    font-size: 15px;
    font-family:  'Poppins', sans-serif;
}

#hero  input[type="submit"]:hover{
    background-color: yellow;
    color: #43474B;
}

.container{
    width: 80%;
    margin: 0 auto;
    color: azure ;
}

.grid{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 40px;
}

.text{
    margin-right: 30px;
}

.fa-solid{
    color: darkorange;
    font-size: 50px;
    padding: 50px;
    width: 15vw;
}


#howitworks{
    margin-top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video{
 width: 80%;
 height: 400px;
   
}

#pricing{
    width: 100%;
    margin-top: 150px;
    display: flex;
}


.box{
    width: 35%;
    height: 350px;
    margin: 0 0 10px 10px;
    border: 1px solid rgb(7, 0, 0);
}

.head-box{
    height: 50px;
    width: 100%;
    background-color: rgba(7, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.price{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.select-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#select-btn{
    border-radius: 5px;
}


footer{
    margin-top: 50px;
    height: 100px;
    background-color:  rgba(7, 0, 0, 0.1);
}

.nav-footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;

}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.copyright{
    text-align: end;
    color: rgba(7, 0, 0, 0.8);
}


@media(max-width:768px) {
    #nav-bar{
        font-size: 12px;
    }
    
    #header-img{
        max-width: 70px;
        width: 100%;
        height: 100%;
    }
    
}