@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  

  ::-webkit-scrollbar{
    width: 20px;
  
  }
  
  ::-webkit-scrollbar-track{
  background: #2E7A90;
  }
  
  ::-webkit-scrollbar-thumb{
  
  border-radius: 20px;
  background-color: #eb3700;
  
  }



  body {
    background-image: url("Accommodations\ \(1\).png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
  }
  
  header {
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    margin-bottom: 100px;
  }
  

  
  h1 {
    width: 100%;
    color: #ff0000;
    font-size: min(5vw, 1.2em);
    text-align: center;
    font-size: 30px;
  }

header  h1 {
    width: 100%;
    color: #ff0000;
    font-size: min(5vw, 1.2em);
    text-align: center;
    font-size: 30px;
    margin-left: 300px;
  }
  
  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }
  
  main {
    padding-top: 150px;
  }
  
  .titlu{
      font-size: 30px;
      margin-bottom: 130px;
  }
  
  .gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 50px;
      max-width: 1400px;
      margin: 0 auto;
      padding: 20px 10px;
    }
    
    .gallery img {
      /* width: 100%; */
      max-width: 450px;
      height: 400px;
      object-fit: cover;
      border-radius: 10px;
    }
    
    .gallery::after {
      content: "";
      width: 350px;
    }
  
  h1,
  h2 {
    font-family: Verdana, Tahoma;
  }
  
  h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0px;
    padding-top: 60px;
  }
  
  
  
  p {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 20px;
  }
  
  
  
  
  footer {
    background-color: #2a2a40;
    display: flex;
    justify-content: center;
  }
  
  footer,
  footer a {
    color: #dfdfe2;
  }
  
  address {
    text-align: center;
    padding: 0.3em;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  